[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
lxml = "*"
reportlab = "*"
pyinstaller = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
reportes = {editable = true,path = "."}

[requires]
python_version = "3.7"
